{% extends "website/base.html" %}
{% load static %}

{% block body_class %}ator-detalhe{% endblock body_class %}
{% block title %}{{ ator.nome }} - {{ app.titulo }}{% endblock title %}

{% block titulo %}{{ ator.nome }}{% endblock titulo %}
{% block subtitulo %}{{ ator.apelido }}{% endblock subtitulo %}

{% block content %}

<div class="container mb-5">
  <div class="ator-detalhe-card">
    <p><strong>Especialidade:</strong> {{ ator.especialidade }}</p>
    <p>{{ ator.descricao }}</p>
    <a href="{% url 'elenco' %}" class="btn btn-primary">Voltar ao Elenco</a>
  </div>
</div>

<div class="pinterest-gallery">
  {% for img in imagens %}
  <div class="pinterest-item">
    <img src="{{ img.imagem.url }}" alt="{{ ator.nome }}">
  </div>
  {% endfor %}
</div>

{% endblock content %}
