{% extends "website/base.html" %}
{% load static %}

{% block title %}Elenco - {{ app.titulo }}{% endblock title %}

{% block titulo %}
  {{ conteudo.titulo|default:"Elenco Greys" }}
{% endblock titulo %}

{% block subtitulo %}
  {{ conteudo.subtitulo|default:"Conheça aqueles que marcaram a história do Seattle Grace" }}
{% endblock subtitulo %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    {% for ator in elenco %}
      <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
        <div class="post-card">
          <div>
            {% if ator.imagem %}
              <img src="{{ ator.imagem.url }}" alt="{{ ator.nome }}">
            {% else %}
              <img src="{% static 'app/img/sem-imagem.jpg' %}" alt="Sem imagem">
            {% endif %}
          </div>
          <div class="post-card-body">
            <h5 class="post-card-title">{{ ator.nome }}</h5>
            <p class="post-card-text">{{ ator.descricao|truncatewords:20 }}</p>
            <a href="{% url 'ator' ator.id %}" class="post-card-link">Ver detalhes</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-center">Nenhum ator cadastrado.</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
