{% extends "website/base.html" %}
{% load static %}

{% block title %}Elenco Completo - Greys Anatomy{% endblock %}

{% block header_image %}{% static 'website/img/elencoimg.webp' %}{% endblock %}

{% block titulo %}Elenco Completo{% endblock %}

{% block subtitulo %}Conheça os personagens que marcaram a história do Seattle Grace Hospital{% endblock %}

{% block content %}
<div class="elenco-container container">
  <div class="row">
    {% for ator in elenco %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{% static ator.imagem %}" class="card-img-top" alt="{{ ator.nome }}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ ator.nome }}</h5>
          <p class="card-text">{{ ator.apelido }}</p>
          <a href="{% url 'elenco' ator.id %}" class="btn btn-primary mt-auto">Ver Detalhes</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

