{% extends "website/base.html" %}
{% load static %}

{% block title %}Detalhes do Ator - Greys Anatomy{% endblock %}


{% block titulo %}{{ ator.nome }}{% endblock %}

{% block subtitulo %}Interpretado por {{ ator.ator }}{% endblock %}

{% block content %}
 <section class="photo-gallery container py-9">
  <div class="gallery-mosaic">
    {% for img in imagens %}
      <img src="{% static img.src %}" alt="{{ img.alt }}" class="gallery-photo {{ img.classe }}" />
    {% endfor %}
  </div>
</section>

  <div class="container mb-5">
    <div class="card elenco-container p-4">
      <h3 class="text-white">{{ ator.nome }} ({{ ator.apelido }})</h3>
      <p><strong>Especialidade:</strong> {{ ator.especialidade }}</p>
      <p style="color:#ddd; font-size:1.1rem;">{{ ator.descricao }}</p>
      <a href="{% url 'elenco_list' %}" class="btn btn-primary mt-3">Voltar ao Elenco</a>
    </div>
  </div>
{% endblock %}
