
{% extends "website/base.html" %}
{% load static %}
{% block title %} Sobre {% endblock title %}
{% block titulo %}Grey's Anatomy: Um Marco na TV{% endblock titulo %}
{% block subtitulo %}Conheça a trajetória, o impacto e os personagens desta série icônica{% endblock subtitulo %}
{% block header_image %}{% static 'website/img/sobreimg.jpg' %}{% endblock header_image %}

{% block content %}

       
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="mb-4">Sobre Grey's Anatomy</h2>
                <p>Grey’s Anatomy é uma premiada série de drama médico criada por Shonda Rhimes e exibida pela primeira vez em 2005. Ambientada no fictício Grey Sloan Memorial Hospital, em Seattle, a série acompanha a trajetória pessoal e profissional de cirurgiões enquanto enfrentam desafios médicos complexos, dilemas éticos e relações intensas.</p>
                <p>Reconhecida por seu enredo envolvente e pela profundidade emocional dos personagens, Grey’s Anatomy tornou-se um marco na TV ao longo de suas muitas temporadas. A série discute temas como amizade, amor, perda, escolhas de carreira e questões sociais, tudo isso com roteiros dinâmicos e casos médicos que misturam realidade e drama.</p>
                <p>Além de entreter, Grey’s Anatomy ajudou a lançar carreiras de atores e atrizes icônicos, e continua a emocionar fãs no mundo todo, mantendo-se relevante por sua capacidade de se reinventar e por seu compromisso com diversidade e representatividade.</p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

